.parent {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "side head head"
    "side content content"
    "side foter foter";
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 230px 1fr;
}

.topBar {
  grid-area: head;
}

.sideBar {
  grid-area: side;
}

.main {
  grid-area: content;

}
.footer {
  grid-area: foter;
}
